body {
	font-family: 'Raleway', sans-serif;
	color: #ab3939;
  background: url('../img/teslas.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}

nav {
	display: inline;
	text-align: center;
}

nav #main{
	display: flex;
	flex-direction: column;
	color: white;
	text-decoration: none;
}

.nav-button {
	display: inline;
	margin: 20px;
	text-decoration: none;
}

h1 {position: absolute; top: 150px; left: 200px;
	display: block;
	color: #FFF;
	font-size: 27px;
}
#products {
	display:  flex;
	position: absolute; top: 250px; left: 155px;
	margin-left: 10px;
}
#products, a, .btnstyle {
	padding: 0.2em;
	color: #fff;
	text-decoration: none;
}

.btnstyle {
	background: #000;
	opacity: 0.5;
	margin-left: 20px;
	padding: 0.6em;
}
a.linktesla {
	position: absolute; top: 100px; left: 200px;
	width:  550px;
	text-decoration: underline;
}
a.linktesla:hover {
	position: absolute; top: 100px; left: 200px;
	width:  550px;
	text-decoration: none;
}
footer {
 position: absolute; top: 750px; left: 300px;
}
#ftstyle {
	display: flex;
	justify-content:
	padding-left: 20px;
	font-size: 10px;
	text-align: center;

}
.btnft {
	margin-left: 50px;
}
